<div class="font-switcer">
  <button
    (click)="toggleSwitcher()"
    [attr.font-family]="fontService.currentFont"
  >
    {{ fontService.currentFont }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="8"
      viewBox="0 0 14 8"
    >
      <path fill="none" stroke="#A445ED" stroke-width="1.5" d="m1 1 6 6 6-6" />
    </svg>
  </button>
  <div class="font-options" [style]="{ display: isOpened ? 'block' : 'none' }">
    <ul>
      @for(font of fontService.fonts; track font) {
      <li (click)="changeFont($event)">{{ font }}</li>
      }
    </ul>
  </div>
</div>
