$purple-accent: #A445ED
$tomato-accent: #FF5252

// Dark mode
$bg-dark: #050505
$search-bg-dark: #1F1F1F
$text-white: #FFFFFF
$line-dark-mode: #3A3A3A

// Light mode
$text-grey: #2D2D2D
$text-secondary: #757575
$line-light-mode: #E9E9E9
$search-bg-light: #f4f4f4

$sans-serif-stack: "Inter", sans-serif
$serif-stack: "Lora", serif
$monospace-stack: "Inconsolata", monospace

    
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    transition: 0.3s ease-in

    input.word-search
        background-color: $search-bg-light

    main
        color: $text-grey

        .line
            background-color: $line-light-mode

        .sources
            border-top: solid 1px $line-light-mode

    .font-options
        background-color: $text-white
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.10)



body.dark-theme
    background-color: $bg-dark

    button, input
        color: $text-white

    input.word-search
        border: solid 1px pink
        background-color: $search-bg-dark

    main
        color: $text-white

        .line
            background-color: $line-dark-mode

    .moon
        path 
            stroke: $purple-accent

    .sources
            border-top: solid 1px $line-dark-mode

    .font-options
        background-color: $search-bg-dark
        color: $text-white
        box-shadow: 0 5px 30px 0 rgba(164, 69, 237, 100%)
